body{
    font-family:'Lato', sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    background-color:#F4F4F4;
}

/*global*/
.container{
    width:80%;
    margin:auto; /* content on the middle*/
    overflow:hidden; /*exclude scroolbar*/
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:red;
    color:#ffffff;
    border:none;
    padding-left:20px;
    padding-right:20px;

}

.dark{
    background: rgb(211, 211, 211);
    padding: 10px;
    
}

/*header*/
header{
    background:#360136;
    color:#ffffff; /*text color*/
    padding-top:30px;
    padding:10px;
}

header a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:18px;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 30px 0;
}

header #branding{
    float:left;
}

header #branding h1 {
    margin: 0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:red;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

header #branding:hover{
    color:#cccccc;
    font-weight:bold;
}

/*showcases*/
#showcase{
    min-height:400px;
    background:url('../img/showcase.jpg') no-repeat 0 -1400px;
    text-align:center;
    color:white;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}


/*newsletter*/
#newsletter{
    color:white;
    background:#360136;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:17px;
}

#newsletter input[type="email"]{
    height:25px;
    width:250px;
    padding:4px;
}

/*boxes*/

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:50px;
}


/*sidebar*/

aside#sidebar{
    float:right;
    width:30%; 
    padding: 20px;  
}

aside#sidebar .contact input, aside#sidebar .contact textarea{
     width: 90%;
     padding: 10px;
}

/*article*/

article#main-col{
    float:left;
    width:65%;
}

/*portfolio*/

ul#portfolio li{
 list-style:none;
 padding:20px;
 background: rgb(255, 189, 189);
 border:#ff0000 solid 1px; 
 margin-bottom: 9px;   
}


/*test clear float */
#test-clear-float{
    background: rgb(177, 176, 176, 0.3);
}

#test-clear-float .img{
    float: right;
    padding-bottom: 20px;
}
#test-clear-float .text{
    color:red;
    clear:right;
    padding: 10px;
}

/*table*/
table#first-table{
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
}

table#first-table td, #first-table th{
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
    padding: 10px;
}

table#first-table tr:nth-child(even){
    background-color: rgb(221, 221, 221, 0.3);
}

table#first-table th{
    background-color:black;
    color: #ffffff;
}

/*menu exemple*/

#exemple-menu ul{
    list-style-type: none;
    background-color:burlywood;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#exemple-menu li{
    float: left;
}
#exemple-menu a{
    padding: 10px;
    display: block;
    color: rgb(87, 1, 48);
    text-decoration: none;
    text-align: center;
}
#exemple-menu a:hover{
    background-color: aquamarine;
}

/*footer*/

footer{
    padding:20px;
    
    color:white;
    text-align:center;
    background:#360136;
}


/*Media Queries */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    aside#sidebar,
    article#main-col{
        float:none;
        text-align:center;
        width:100%;
    }
    header,
    #newsletter form{
        padding-bottom: 20px;
    }
    #newsletter button, .contact button{
        display:block;
        width:100%;
    }
    #showcase h1{
       margin-top: 40px; 
    }
    #newsletter form input[type="email"], .contact input, .contact textarea{
        width:100%;
        margin-bottom: 5px;
    }

    
}




